#ignore the dataset
data/

#ignore models
models/

#ignore gitignore
.gitignore

#ignore ipynb checkpoints
notebooks/.ipynb_checkpoints

#ignore DS_Store
.DS_Store

#ignore chromdriver
src/chromedriver
